{
  "root": true,
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "jest": true,
    "browser": true
  },
  "plugins": ["prettier"],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "import/no-extraneous-dependencies": 0,
    "import/no-cycle": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 1,
    "no-use-before-define": "warn",
    "max-lines": ["error", { "max": 500, "skipBlankLines": true, "skipComments": true }],
    "max-lines-per-function": ["error", 100],
    "no-underscore-dangle": 0,
    "no-plusplus": 0,
    "no-nested-ternary": "warn",
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "traillingComma": "all",
        "endOfLine": "auto"
      }
    ],
    "react/jsx-props-no-spreading": 0,
    "consistent-return": "off",
    //    "sort-imports": [
    //      "error",
    //      {
    //        "ignoreCase": false,
    //        "ignoreDeclarationSort": false,
    //        "ignoreMemberSort": false,
    //        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"],
    //        "allowSeparatedGroups": true
    //      }
    //    ],
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "react/react-in-jsx-scope": "off",
    "semi": 0,
    "linebreak-style": 0 
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "react-scripts/node_modules/babel-eslint"
}
