@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'prime/layout-light.scss';
@import 'prime/theme-light.scss';

:root {
  --blue-900:#0051e9;
  --yellow-500:#f6d365;
}

.required:after {
    content:"(*)";
    color: red;
}
.ce-tune-alignment--right {
    text-align: right;
}
.ce-tune-alignment--center {
    text-align: center;
}
.ce-tune-alignment--left {
    text-align: left;
}
.editor-container {
	padding: 5px 10px;
	.codex-editor__redactor {
		padding-bottom: 0 !important;
		.ce-block__content {
			padding: 0 1rem;
			background-color: $shade100;
		}
	}
}

.tbl-no-paging {
	.p-paginator-bottom {
		border-bottom: 0;
	}
}

@media screen and (max-width: 1400px) {
  .vanbang-seacher-cotainer {
    flex-direction: column; 
  }
}

